html, body { height: 100%; }
body { padding-top: 50px; }

img {
  max-width: 100%;
  height: auto;
}

.navbar-brand img {
  height: 20px;
  width: auto;
  vertical-align: bottom;
}

footer { padding: 20px 0; }
